<!-- Arquivo: views/emprestimos/index.ejs -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <title>Playlists</title>
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="shortcut icon" href="/img/spotifyLogo.png" type="image/x-icon">
</head>

<body>
    <h1>Playlists</h1>

    <nav>
        <a href="/emprestimos/novo">Registrar Playlist</a> |
        <a href="/jogos">Músicas</a> |
        <a href="/amigos">Artistas</a> |
        <a href="/relatorioPlaylists.pdf">Relatório Playlists</a>

    </nav>
    <div class="tabela-container">
        <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Jogo</th>
                <th>Quem pegou</th>
                <th>Início</th>
                <th>Fim</th>
                <th>Ações</th>
            </tr>
        </thead>

        <tbody>
            <% emprestimos.forEach(e => { %>
                <tr>
                    <td class="itemlista id"><%= e.id %></td>
                    <td class="itemlista"><%= e.jogo ? e.jogo.titulo : '—' %></td>
                    <td class="itemlista"><%= e.amigo ? e.amigo.nome : '—' %></td>
                    <td class="itemlista"><%= e.dataInicio %></td>
                    <td class="itemlista"><%= e.dataFim ? e.dataFim : 'em aberto' %></td>
                    <td class="itemlista acoes">
                        <form 
                            action="/emprestimos/excluir/<%= e.id %>" 
                            method="POST" 
                            style="display:inline;"
                        >
                            <button class="excluir" type="submit">Excluir</button>
                        </form>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
    </div>
</body>
</html>