<!-- Arquivo: views/jogos/editar.ejs -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <title>Editar Música</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="shortcut icon" href="/img/spotifyLogo.png" type="image/x-icon">
</head>

<body>
    <h1>Editar Música</h1>

    <form action="/jogos/editar/<%= jogo.id %>" method="POST">

        <p>
            <label>Título:</label><br />
            <input 
                name="nome" 
                value="<%= jogo.nome %>" 
                required 
            />
        </p>

        <p>
            <label>Plataforma:</label><br />
            <input 
                name="genero" 
                value="<%= jogo.genero %>" 
                required 
            />
        </p>

        <p>
            <label>Artista:</label><br />
            <select name="artistaId" required>
                <% artistas.forEach(a => { %>
                    <option value="<%= a.id %>">
                        <%= a.nome %>
                    </option>
                <% }) %>
            </select>
        </p>

        <p>
            <label>Playlist:</label><br />
            <select name="playlistId" required>
                <% amigos.forEach(a => { %>
                    <option value="<%= a.id %>">
                        <%= a.titulo %>
                    </option>
                <% }) %>
            </select>
        </p>

        <p>
            <button type="submit">Salvar</button>
            <a href="/jogos">Cancelar</a>
        </p>

    </form>
</body>
</html>