<!-- Arquivo: views/jogos/index.ejs -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <title>Músicas</title>
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="shortcut icon" href="/img/spotifyLogo.png" type="image/x-icon">
</head>

<body>
    <h1>Músicas</h1>

    <nav>
        <a href="/jogos/novo">Cadastrar nova música</a> |
        <a href="/amigos">Artistas</a> |
        <a href="/emprestimos">Empréstimos</a> |
        <a href="/relatorioMusicas.pdf">Relatório de Músicas</a>

    </nav>
    <div class="tabela-container">
        <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Título</th>
                <th>Plataforma</th>
                <th>Dono</th>
                <th>Ações</th>
            </tr>
        </thead>

        <tbody>
            <% jogos.forEach(j => { %>
                <tr>
                    <td class="itemlista id"><%= j.id %></td>
                    <td class="itemlista"><%= j.titulo %></td>
                    <td class="itemlista"><%= j.plataforma %></td>
                    <td class="itemlista"><%= j.dono ? j.dono.nome : 'Sem dono' %></td>
                    <td class="itemlista acoes">
                        <a href="/jogos/editar/<%= j.id %>" class="editar">Editar</a>

                        <form 
                            action="/jogos/excluir/<%= j.id %>" 
                            method="POST" 
                            style="display:inline;"
                        >
                            <button class="excluir" type="submit">Excluir</button>
                        </form>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
    </div>
</body>
</html>
